.project-a-propos {
    position: relative;
    width: 45%;
    margin-top: 35px;
    float: left;
  @include only-phone {
    width: 100%;
    margin-top:0px;
  }
}
.project-img {
  height: 810px;
  background-image: url("../images/visuels/visu_a-propos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  @include only-phone {
    height: 650px;
  }
}

.project-description {
  align-items: center;
  flex-direction: column;
  text-align: center;
  height:298px;
  background:$yellow;
}

.a-propos-title {
   margin-left: 0px;
    position: absolute;
    top: -400px;;
    margin-top:0px;
    margin: 0 30px;
    width: 350px;
  @include tablet {
  margin-top:80px;
    top: 0px;
    position: relative;
  margin-left: 0px;
  margin-bottom:82px;
  width: 100%;
  @include desktop {
    position: relative;
    margin-top:80px;
  margin-left: -90px;
  margin-bottom:60px;
  width: 100%;
    top: 0px;
  }
  }
}

.content-a-propos {
  position: relative;
}
.content-text {
  width:51%;
     position: relative;
    right: 0;
    top: 0;
    float: right;
  @include only-phone {
    width: 100%;
    position: relative;
  }
}

.project-title {
  color:white;
  font-size:22px;
  font-family: $open-sans;
  line-height: 38px;
  width: 80%;
}

.block-p {
/*  width: 41%;
  float: right;
  margin: 10px 10px 10px 10px ;
  /*border: 1px solid black;*/
  /*display: inline-flex;*/
  margin: 0 0px 20px 0;
  @include only-phone {
    margin: 70px 30px 0px 30pX;
  }
}

.wrapper-partenaire {
  padding: 150px 0px;
  clear: both;
  @include only-phone {
      padding: 0px 0px;
      }
}

.partn .wrapper-partenaire {
  padding: 0px 0px;
}

.statistiques {
  display:flex;
  width:100%;
  height:300px;
  border-top: 1px solid #F8F8F8;
  bottom: 0;
  align-items: center;
    @include only-phone {
      height: 100%;
      }
}

.content-a-propos .content-text .flex-container {
  margin-bottom: 45px;
    @include tablet {
      margin-bottom: 5px;
        @include desktop {
          margin-bottom: 35px;
  }
  }
  
}

.stat-block {
  width: 100%;
  display: flex;
  margin: 40px;
  @include only-phone {
    margin-bottom: 5px;
  }
}
.statistiques.flex-container {
  display: flex;
  @include only-phone {
    flex-wrap: wrap;
    justify-content: inherit;
  }
}

.stat-column {
  width: 100%;
  margin-bottom: 0px;
}

.pictoa {
 /* border:1px solid ;*/
  width:35px;
  height:35px;
  background-image: url('../images/apropos/pictoa.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 10px;
}

.pictob {
 /* border:1px solid ;*/
  width:35px;
  height:35px;
  background-image: url('../images/apropos/pictoc.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 10px;
}

.pictoc {
 /* border:1px solid ;*/
  width:35px;
  height:35px;
  background-image: url('../images/apropos/pictob.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 10px;
}

.pictod {
 /* border:1px solid ;*/
  width:35px;
  height:35px;
  background-image: url('../images/apropos/pictod.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 10px;
}

.stat-title {
  font-size:11px;
  color: $light-grey;
  text-transform: uppercase;
  font-family: $roboto;
  margin-bottom:5px;
}

.stat-numbers {
  font-family: $open-sans;
  font-size: 18px;
  color: $dark-grey;
}
.stat-text-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left:5px;
}


.paragraphe-column {
 -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
      font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
  @include tablet {
     -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
      font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
  @include desktop {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
      font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
    }
  }
}


#displayn {
  display: none;
    @include tablet {
    display: flex;
    height: 570px;
      @include desktop {
        display: flex;
        height: 350px;
   }
  }
 }

#displayo {
  display: none;
  @include only-phone {
  display: flex;    
}
}

@media screen and (max-width: 767px) {
  .a-propos-title {
    color: #ffffff!important;
  }
}


