
.accueil-background {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.flex-container-accueil {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 600px;
}

.flex-container-accueil-left {
  display: flex;
  margin-left: 20%;

  @include only-phone {
    margin-left: 10%;
  }

  @include small-phone {
    margin-left: 5%;
  }
}

.flex-container-left-column {
  display: flex;
  flex-direction: column;
}

.flex-item-accueil {
  width: 130px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 12px 28px;
}

.accueil-title-left {
  position: relative;
}

.accueil-title {
  max-width: 490px;
  width: 100%;
  margin-bottom: 40px;

  @include only-phone {
    padding-right: 5%;
  }
}

.btn-accueil {
  width: 225px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.service-container {
  display: flex;
  margin: 25vh 0 30vh 0;
  align-items: flex-end;
  @include only-phone {
    display: inherit;
    margin: 70px 0;
  }
}

.service-item-left {
  width:50%;
  @include only-phone {
    width: 100%;
  }
}

.service-item-right-ctn {
  width:40%;
  @include only-phone {
    display: inherit;
    width: 70%;
    margin-left: 30px;
  }
}

.service-paragraphe {
  width: 90%;
  @include only-phone {
    width: 100%;
  }
}

.service-item-right-ctn {
  display: flex;
  @include only-phone {
    display: inherit;
  }
}

.service-item-right-ctn-left {
  width: 50%;
  margin-left: 10%;
  @include only-phone {
    width: 100%;
  }
}

.service-item-right-ctn-right {
  width: 50%;
  @include only-phone {
    width: 100%;
  }
}

.service-item-logo {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.service-item {
  display: flex;
  margin-top: 20px;
  align-items: center;
  @include only-phone {
    align-items: center;
    justify-content: flex-start;
  }
}

.service-item-left-margin {
  margin-left: 0;
  @include only-phone {
    margin: 0 30px;
  }
  
}

.serv-item-logo-1 {
  background-image: url("../images/picto-fondation.svg");
}

.serv-item-logo-2 {
  background-image: url("../images/picto-sol.svg");
}

.serv-item-logo-3 {
  background-image: url("../images/picto-charpente.svg");
}

.serv-item-logo-4 {
  background-image: url("../images/picto-terrasse.svg");
}

.serv-item-logo-5 {
  background-image: url("../images/picto-excavation.svg");
}

.serv-item-logo-6 {
  background-image: url("../images/picto-isolation.svg");
}

.service-item-paragraphe {
  margin-left: 8%;
}

.service-title {
  margin-bottom: 25px;
}

@media screen and (max-width: 767px) {
  #title_accueil {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    line-height: 32px;
  }
  .flex-container-accueil-left {
    display: inherit;
    width: 90%;
}
  .left-line2-container {
    width: auto!important;
}
}

.services {
   position: relative;
    width: 100%;
    left: inherit;
    margin-left: 0px;
  @include tablet {
    position: relative;
    width: 760px;
    left: 50%;
    margin-left: -380px;
      @include desktop {
      position: relative;
      width: 1000px;
      left: 50%;
      margin-left: -500px;
    }
  }
}

/** REFS **/
.ref{
  width: 100%;
  height: 650px;
  display: flex;
  align-content: center;
  @include only-phone {
    flex-wrap: wrap;
    height: 100%;
  }
}
.refBlock-1 {
  width: 25%;
  background-color: #000000;
  @include only-phone {
    width: 50%;
    align-self: flex-end;
    order: 1;
  }
}

.refBlock-2 {
  width: 50%;
  background-color: #000000;
  @include only-phone {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

.refBlock-3 {
  width: 25%;
  background-color: #000000;
   @include only-phone {
     height: 50%;
     width: 50%
  }
}

.res {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
  transition: 0.3s ease-in-out;
}

.res:hover{
  opacity: 0.8;
}

.res1 {
  background-image: url("../images/accueil/res1.jpg");
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
   @include only-phone {
     height: 300px;
  }
}

.res2 {
  background-image: url("../images/accueil/res2.jpg");
  height: 325px;
  width: 50%;
  float: left;
  @include only-phone {
    height: 300px;
    width: 50%;
  }
}

.res3 {
  background-image: url("../images/accueil/res3.jpg");
  height: 325px;
  width: 50%;
  float: left;
   @include only-phone {
    height: 300px;
    width: 50%;
  }
}

.res4 {
  background-image: url("../images/accueil/res4.jpg");
  height: 325px;
  width: 50%;
  float: left;
  clear: both;
   @include only-phone {
    height: 300px;
    width: 50%;
  }
}

.res5 {
  background-image: url("http://localhost:8888/webp2018-SI201704-UD/wp-content/themes/UD_theme/images/accueil/res5.jpg");
  height: 325px;
  width: 50%;
  float: left;
   @include only-phone {
    height: 300px;
    width: 50%;
  }
}

.res6 {
  background-image: url("http://localhost:8888/webp2018-SI201704-UD/wp-content/themes/UD_theme/images/accueil/res6.jpg");
  height: 650px;
  @include only-phone {
     height: 300px;
  }
}

.resTxt {
  visibility: hidden;
  color: #ffffff;
  position: relative;
  display: flex;
  z-index: 2;
  font-size: 16px;
  font-family: $open-sans;
  font-size: 16px;
  line-height: 32px;
  font-weight:300; 
  text-align: center;
  background-color: #FFC619;
  padding: 15px 35px;
}

.resTxt-title{
  font-size: 24px;
  font-family: $roboto;
  line-height: 38px;
  font-weight:300;
  text-align: center;
}

.res:hover .resTxt {
  visibility: visible;
}