.devis-img {
  height: 320px;
  background-image: url("../images/visuels/contact_img.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.block-deco-grey.block-deco-grey-contact{
	height: 480px;	
}

.project-a-propos-contact{
	height: inherit;
	margin-top: 0;
}

.devis{
	margin-top: 260px;
}

.devis .steps{
	margin: 100px auto 60px auto;
	display: block;
	width: 740px;
}

.devis .step{
	float: left;
	margin-left: 0;
}

.devis .step span{
	font-family: 'Open Sans';
	font-size: 12px;
	color: #0B0B0B;
	width: 170px;
    text-align: center;
    display: inline-block;
    margin-top: 30px;
    margin-left: 9px;
}

.devis .step hr{
	border-color: #C8C8C8;
	border-top: none;
	width: 180px;
	position: absolute;
	left: 0;
	top: 2px;
}

.devis .polygons{
	position: absolute;
	left: 0;
}

.devis .step .line{
	position: relative;
	margin: 0;
}

.devis .step_active span{
	color: #FFC619;
}

.devis .step_active hr{
	border-color: #FFC619;
}

.devis .polygon_last{
	position: absolute;
	right: -20px; 
}

.devis .clear{
	clear: both;
}

.devis .formulaire_content .titles{
	font-family: "Open Sans";
	font-size: 22px;
	text-align: center;
	margin-bottom: 40px;
}

.devis .btn_form.default{
	color: #C8C8C8;
	border: #C8C8C8 1px solid;
}

.devis .btn_form{
	font-family: "Open Sans";
	font-weight: 500;
	font-size: 16px;
	width: 190px;
	height: 115px;
	float: left;
	margin: 16px;
	cursor: pointer;
}

.devis .btn_form:hover {
	border: #FFC619 1px solid;
}

.btn_form_active {
	font-family: "Open Sans";
	font-weight: 500;
	font-size: 16px;
	color: #fff;
	border: 1px solid $yellow;
    background: $yellow;
	width: 190px;
	height: 115px;
	float: left;
	margin: 16px;
	cursor: pointer;
}

.devis .btn_form img {
  margin: 32px auto 15px;
}

.devis .btn_form.default img[alt="icon"], .btn_form_active img[alt="iconactive"]{
	display: block;
}

.devis .btn_form.default img[alt="iconactive"], .btn_form_active img[alt="icon"]{
  display: none;
}

.devis .btn_form span{
	text-align: center;
	display: block;
}

.devis .btns, .inputs{
	display: table;
	margin: 0 auto;
}

.devis .formulaire_content button{
	font-family: "Roboto";
	font-size: 16px;
	color: $yellow;
	border: $yellow 1px solid;
	padding: 20px 60px;
	background-color: #ffffff;
	display: block;
	margin: 50px auto 0 auto;
}

.devis .formulaire_content button:hover{
  cursor: pointer;
  color: #fff;
  background: $yellow;
}

.devis .formulaire_02 .btns{
	width: 672px;
	margin: 0 auto;
}

.devis .formulaire_03 textarea{
	width: 640px;
	height: 255px;
	margin: 0 auto;
	display: block;
	border-color: #E5E5E5;
	background-color: #FBFBFB;
    padding: 15px;
}

.devis .formulaire_03 textarea::-webkit-input-placeholder,
.devis .formulaire_04 input::-webkit-input-placeholder{
	color: #848484;
	font-family: "Open Sans";
	font-size: 12px;
	font-weight: 100;
	line-height: 20px;
}

.devis .formulaire_04 input{
	width: 286px;
	height: 47px;
	margin: 16px;
	display: block;
	border: none;
	background-color: #FBFBFB;
	float: left;
    padding: 15px;
}

.devis .formulaire_04 input.double{
  width: 604px;
}

.devis .inputs{
	width: 640px;
}

.devis .title_formulaire{
	display: none;
}






/*RESPONSIVE*/

@media screen and (min-width: 350px) and (max-width: 767px) {
	.devis .step_02, 
	.devis .step_03, 
	.devis .step_04, 
	.devis .step_01 {
		display: none;
	}

	.devis .title_formulaire{
		display: block;
	}

	.devis .title_formulaire span{
		display: block;
		font-family: 'Open Sans';
		font-size: 20px;
		color: #FFC619;
		text-align: center;
	}

	.devis .steps,
	.devis .formulaire_02 .btns,
	.devis .inputs{
		width: inherit;
	}

	.devis .btn_form{
		width: 130px;
		margin: 8px;
	}

	.devis .formulaire_01 .btn_form,
	.devis .formulaire_02 .btn_form{
		width: 80%;
		margin-left: 10%;
	}

	.devis .polygons{
		margin: 0 auto;
	    display: block;
	    position: relative;
	    width: 20px;
	    margin-bottom: 20px;
	}

	.devis .step{
		float: inherit;
	}

	.devis .step span{
		font-size: 18px;
		margin-left: 0px;
		width: 100%;
	}

	.devis .formulaire_03 textarea,
	.devis .formulaire_04 input{
		width: 80%;
		margin: 16px 0 16px 10%;
	}

}