.slider-img {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.slider-img-1 {
  background-image: url("../images/slider-1.jpg");
}

.slider-img-2 {
  background-image: url("../images/slider-2.jpg");
}