footer {
  background-color: #282828;
  height: 425px;
  width: 100%;
  margin-top: 100px;
}

.bandeauReassurance {
  width: 90%;
  max-width: 1440px;
  background-color: #FFC619;
  height: 100px;
  position: relative;
  top:-50px;
  margin: 0 auto;
  display: flex;
  align-items:center;
}

.bandeauReassurance_block {
  display: flex;
  width: 100%;
  align-items:center;
  height: 100px;
  border-right: 1px solid #fff;
  padding: 0 0 0 24px;
}

.last {
  border-right: 0px solid #fff;
} 

.bandeauReassurance_block p {
  font-family: 'Open Sans', sans-serif;
  align-items:center;
  color: #ffffff;
  font-size: 11px;
  line-height: 21px;
  font-weight: 600;
}

.bandeauReassurance_block p span{
  font-family: 'Roboto', sans-serif;
  align-items:center;
  color: #ffffff;
  font-weight: 100;
  font-size: 18px;
}

.picto{
  margin-right: 10px;
}

/*.picto {
  margin-left: 30px;
} 

.sentence {
  margin-right: 30px;
} */

.blockContact_block p {
 color: #ffffff;
} 

.blockContact_block-titre {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 50px;
} 

.blockContact_block-txt {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 100;
}

.blockContact {
  display: flex;
  justify-content:space-around;
  width: 90%;
  align-items:center;
  max-width: 1440px;
  height: 260px;
}

.blockContact_block {
  display: flex;
  justify-content:space-around;
  align-items:center;
  margin-left: 170px;
}

.blockContact_block:first-child {
  width: 40%;
  margin-left: 100px;
}

.blockContact_block:last-child {
  width: 50%;
  margin-left: 180px;
}

.blockContact_btn {
  font-family: 'Roboto', sans-serif;
  color: #FFC619;
  font-size: 16px;
  border: 2px solid #FFC619;
  width: 180px;
  padding: 20px 10px;
  text-align: center;
  transition: 0.2s ease-in-out;
  margin-top: 15px;
}

.blockContact_btn a {
  font-family: 'Roboto', sans-serif;
  color: #FFC619;
  font-size: 16px;
  width: 180px;
  padding: 20px 10px;
  text-align: center;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.blockContact_btn:hover {
  font-family: 'Roboto', sans-serif;
  color: #FFC619;
  background-color: #ffffff;
  font-size: 16px;
  border: 2px solid #ffffff;
  width: 180px;
  padding: 20px 10px;
  text-align: center;
  transition:0.7s;
}

.blockContact_img {
  position: absolute;
  top: 220px;
  left: 0px;
}

 .blockk {
    width: 100%;
    display: flex;
    align-items: center;
  }

@media screen and (min-width: 768px) and (max-width: 1024px) { 
  .bandeauReassurance {
    width: 95%;
  }
  .bandeauReassurance_block {
    flex-direction: column;
    text-align: center;
  }
  .blockk {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) { 
  footer{
    height: auto;
  }
  .bandeauReassurance {
    width: 100%;
    flex-direction: column;
    height: 200px;
    top: -25px;
  }
  .blockk {
    display: auto;
    align-items: auto;
    width: 100%;
  } 
  .bandeauReassurance_block {
    flex-direction: column;
    text-align: center;
    margin-left: 0px;
}
  .blockContact {
    height: auto;
    width: 100%;
    flex: initial;
  }
  .blockContact_block, .blockContact_block-titre {
    margin-left: 0px!important;
  }
  .blockContact_block, .blockContact{
    display: inherit;
    width: 90%;
    margin: 0 auto;
  }
  .blockContact_img {
    display: none;
  }
  .blockContact_block:last-child {
    width: 100%;
  }
  .blockContact_block-titre {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 50px;
}
  .blockContact_block:last-child {
    margin-top: 30px;
    padding-bottom: 30px;
  }
  .bandeauReassurance_block:last-child {
    border: 0px;
  } 
}
