header {
  font-family: 'Roboto', sans-serif;
  position: relative;
  width: 100%;
  height: 95px;
  padding: 0 60px;
  background: transparent;
  z-index: 1;
}

header img[alt*="logo U&D"], header img[alt="burger"] {
  position: absolute;
  height: 36px;
  top: 50%;
  margin-top: -18px;
}

header img[alt*="white"], img[alt="burger"], .bt-devis.mobile {
  display: none;
}

header ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

header ul li {
  float: right;
  color: #000;
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 30px;
  margin: 30px 60px 30px 0;
}

header ul li.active {
  border-bottom: 3px solid black;
}

.bt-devis {
  background: #FFC619;
  padding: 10px 25px;
  margin: 20px 0 0;
  color: #fff;
}

.bt-devis img {
  margin-bottom: -2px;
}

/* MENU */

.menu, .menu.active {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  background: #FFC619;
  z-index: 100;
  padding: 100px 10%;

  -webkit-transition: left .3s;
  -moz-transition: left .3s;
  -ms-transition: left .3s;
  -o-transition: left .3s;
  transition: left .3s;
}

.menu {
  left: -100%;
  display: none;
}

.menu img[alt="close"] {
  position: absolute;
  top: 25px;
  right: 25px;
}

.menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.menu ul a {
  text-decoration: none;
}

.menu ul li {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 10% auto;
  letter-spacing: 2px;
}

.menu ul li:hover {
  text-decoration: underline;
}

.menu ul li img {
  height: 25px;
}

@media screen and (max-width: 850px) {
  header {
    background: none;
    position: absolute;
  }

  header img[alt*="white"] {
    display: block;
    left: 50%;
    margin-left: -53px;
  }

  header img[alt*="black"], header ul li {
    display: none;
  }

  header img[alt="burger"] {
    display: block;
    height: 18px;
    margin-top: -9px;
  }

  .bt-devis.mobile {
    display: block;
    margin-top: 22px;
    padding: 10px 19px;
  }

  .menu {
    display: block;
  }
}

@media screen and (max-width: 560px) {
  header {
    padding: 0 20px;
  }

  header img[alt="burger"] {
    left: 35px;
  }
}