header {
  font-family: 'Roboto', sans-serif;
  position: relative;
  width: 100%;
  height: 95px;
  padding: 0 60px;
  background: transparent;
  z-index: 1;
}

header img[alt*="logo U&D"], header img[alt="burger"] {
  position: absolute;
  height: 36px;
  top: 50%;
  margin-top: -18px;
}

header img[alt*="white"], img[alt="burger"], .bt-devis.mobile {
  display: none;
}

header ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

header ul li {
  float: right;
  color: #000;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 30px;
  margin: 30px 60px 30px 0;
}

header ul li.active {
  border-bottom: 3px solid black;
}

.bt-devis {
  background: #FFC619;
  padding: 10px 25px;
  margin: 20px 0 0;
  color: #fff;
}

.bt-devis img {
  margin-bottom: -2px;
}

/* TOASTER */

.toaster{
  position: fixed;
  right: 60px;
  width: 260px;
  background-color: #fff;
  z-index: 100;

  @include only-phone {
    display: none;
  }
}

.toaster_yellow_up{
  bottom: -1px;
  transition: .2s;
}

.arrow_rotate{
  transform: rotate(180deg);
}

.toaster_yellow_down{
  bottom: -140px;
}

.toaster_content{
  border: #EBEBEB solid 1px;
  padding: 16px;
}

.toaster_content p{
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #757575;
  line-height: 20px;
  font-weight: 100;
  margin-bottom: 15px;
}

.toaster_content input{
  padding: 0 8px;
  height: 30px;
  border-radius: 2px;
  border-top: #EAEAEA 1px solid;
  border-right: none;
  border-bottom: #EAEAEA 1px solid;
  border-left: #EAEAEA 1px solid;
  width: 85%;
  float: left;
}

.toaster_content input::placeholder{
  color: #CCC;
  font-weight: 100;
  font-size: 12px;
}

.toaster_content button{
  background-color: #FFC619;
  border: none;
  height: 30px;
  width: 15%;
  float: left;
  margin-left: -1px;
  border-radius: 0 2px 2px 0;
}

.toaster .toaster_yellow{
  background-color: #FFC619;
  padding: 15px 24px;
  cursor: pointer;
}

.toaster .toaster_yellow .phone{
  margin-right: 8px;
}

.toaster .toaster_yellow .arrow{
  width: 14px;
  margin-left: 8px;
}

.toaster .toaster_yellow span{
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 15px;
}

/* MENU */

.menu, .menu.active {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  background: #FFC619;
  z-index: 100;
  padding: 100px 10%;

  -webkit-transition: left .3s;
  -moz-transition: left .3s;
  -ms-transition: left .3s;
  -o-transition: left .3s;
  transition: left .3s;
}

.menu {
  left: -100%;
  display: none;
}

.menu img[alt="close"] {
  position: absolute;
  top: 25px;
  right: 25px;
}

.menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.menu ul a {
  text-decoration: none;
}

.menu ul li {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 10% auto;
  letter-spacing: 2px;
}

.menu ul li:hover {
  text-decoration: underline;
}

.menu ul li img {
  height: 25px;
}

@media screen and (max-width: 768px) {
  header {
    background: none;
    position: absolute;
  }

  header img[alt*="white"] {
    display: block;
    left: 50%;
    margin-left: -53px;
  }

  header img[alt*="black"], header ul li {
    display: none;
  }

  header img[alt="burger"] {
    display: block;
    height: 18px;
    margin-top: -9px;
  }

  .bt-devis.mobile {
    display: block;
    margin-top: 22px;
    padding: 10px 19px;
  }

  .menu {
    display: block;
  }
}

@media screen and (max-width: 560px) {
  header {
    padding: 0 20px;
  }

  header img[alt="burger"] {
    left: 35px;
  }
}
