@import './vendor/reset.scss';
@import './variables.scss';
@import './fonts.scss';

.text-important {
  color: $yellow;
}

.text-title {
  color: $dark-grey;
}

.text-main {
  color: $black;
}

.text-secondary {
   color: $light-grey;
 }

.text-white {
  color: #FFFFFF;
}

.paragraphe {
  font-family: $open-sans;
  font-size: 16px;
  line-height: 27px;
}

.partenaire-paragraphe {
  margin: 0 auto;
  margin-bottom: 70px;
  text-align: center;
  width: 50vw;
}

.title {
  font-family: $roboto;
  font-size: 32px;
  line-height: 48px;
}

.title-partenaire {
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-item {
  width: 130px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 12px 28px;
}

.text-center {
  text-align: center;
}

.partenaire-1 {
  background-image: url("../images/partenaires/logo-lapeyre.png");
}
.partenaire-2 {
  background-image: url("../images/partenaires/logo-legrand.png");
}
.partenaire-3 {
  background-image: url("../images/partenaires/logo-leroymerlin.png");
}
.partenaire-4 {
  background-image: url("../images/partenaires/logo-lapeyre.png");
}
.partenaire-5 {
  background-image: url("../images/partenaires/logo-point-p.png");
}
.partenaire-6 {
  background-image: url("../images/partenaires/logo-ariston.png");
}
.partenaire-7 {
  background-image: url("../images/partenaires/logo-rexel.png");
}
.partenaire-8 {
  background-image: url("../images/partenaires/logo-point-p.png");
}

.accueil-background {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.flex-container-accueil {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flex-container-accueil-left {
  display: flex;
}

.flex-container-left-column {
  display: flex;
  flex-direction: column;
}


.flex-item-accueil {
  width: 130px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 12px 28px;
}

.accueil-title-left {
  position: relative;
}

.accueil-title {
  text-align: justify;
  width: 32vw;
  min-width: 490px;
}

.left-line2-container {
  width: 20vw;
}

.line2 {
  margin-right: 25px;
  height: 50px;
  background-image: url("../images/line2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
