@import './vendor/reset.scss';
@import './variables.scss';
@import './fonts.scss';

.text-important {
  color: $yellow;
}

.text-title {
  color: $dark-grey;
}

.text-main {
  color: $black;
}

.text-secondary {
  color: $light-grey;
}

.paragraphe {
  font-family: $open-sans;
  color: $black;
  font-size: 16px;
  line-height: 27px;
}

.title {
  font-family: $roboto;
  color: $dark-grey;
  font-size: 37px;
  line-height: 48px;
}

.flex-container {

  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.flex-item {
  background: tomato;
  padding: 5px;
  margin-top: 10px;

  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}