@import './vendor/reset.scss';
@import './variables.scss';
@import './fonts.scss';

/* Import style pages */
@import './a-propos.scss';

.text-important {
  color: $yellow;
}

.text-title {
  color: $dark-grey;
}

.text-main {
  color: $black;
}

.text-secondary {
  color: $light-grey;
}

.paragraphe {
  font-family: $open-sans;
  color: $black;
  font-size: 16px;
  line-height: 27px;
}

.small-title {
  font-family: $roboto;
  color:white;
  font-size: 11px;
}
.title {
  font-family: $roboto;
  color: $dark-grey;
  font-size: 32px;
  line-height: 40px;
}

/* Type de blocks */

.centered-block {
  margin: 0 60px;
  /*border:1px solid;*/
  height:auto;
}

.block-deco-grey {
  background: $light-grey-block;
  position: absolute;
  width: 40%;
  height: 984px;
  top: 0;
}
.partenaire-paragraphe {
  margin: 0 auto;
  margin-bottom: 70px;
  text-align: center;
  width: 50vw;
}

.title-partenaire {
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-item {
  width: 130px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 12px 28px;
}

.text-center {
  text-align: center;
}

.partenaire-1 {
  background-image: url("../images/partenaires/logo-lapeyre.png");
}
.partenaire-2 {
  background-image: url("../images/partenaires/logo-legrand.png");
}
.partenaire-3 {
  background-image: url("../images/partenaires/logo-leroymerlin.png");
}
.partenaire-4 {
  background-image: url("../images/partenaires/logo-lapeyre.png");
}
.partenaire-5 {
  background-image: url("../images/partenaires/logo-point-p.png");
}
.partenaire-6 {
  background-image: url("../images/partenaires/logo-ariston.png");
}
.partenaire-7 {
  background-image: url("../images/partenaires/logo-rexel.png");
}
.partenaire-8 {
  background-image: url("../images/partenaires/logo-point-p.png");
}