@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800|Roboto:100,200,300,400,500,600,700,900");
@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

footer {
  background-color: #282828;
  height: 425px;
  width: 100%;
  margin-top: 100px;
}

.bandeauReassurance {
  width: 90%;
  max-width: 1440px;
  background-color: #FFC619;
  height: 100px;
  position: relative;
  top: -50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.bandeauReassurance_block {
  display: flex;
  width: 100%;
  align-items: center;
  height: 100px;
  border-right: 1px solid #fff;
  padding: 0 0 0 12px;
}

.last {
  border-right: 0px solid #fff;
}

.bandeauReassurance_block p {
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  color: #ffffff;
  font-size: 9px;
  line-height: 21px;
  font-weight: 600;
}

.bandeauReassurance_block p span {
  font-family: 'Roboto', sans-serif;
  align-items: center;
  color: #ffffff;
  font-weight: 100;
  font-size: 15px;
}

.picto {
  margin-right: 10px;
}

/*.picto {
  margin-left: 30px;
} 

.sentence {
  margin-right: 30px;
} */

.blockContact_block p {
  color: #ffffff;
}

.blockContact_block-titre {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
}

.blockContact_block-txt {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 100;
}

.blockContact {
  display: flex;
  justify-content: space-around;
  width: 90%;
  align-items: center;
  max-width: 1440px;
  height: 260px;
}

.blockContact_block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 170px;
  vertical-align: text-top;
}

.blockContact_block:first-child {
  width: 40%;
  margin-left: 100px;
}

.blockContact_block:last-child {
  width: 60%;
  margin-left: 180px;
}

#blockContact_block_contact {
  width: 210px;
}

.blockContact_btn {
  font-family: 'Roboto', sans-serif;
  color: #FFC619;
  font-size: 16px;
  border: 2px solid #FFC619;
  width: 180px;
  padding: 20px 10px;
  text-align: center;
  transition: 0.2s ease-in-out;
  margin-top: 15px;
}

.blockContact_btn a {
  font-family: 'Roboto', sans-serif;
  color: #FFC619;
  font-size: 16px;
  width: 180px;
  padding: 20px 10px;
  text-align: center;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.blockContact_btn:hover {
  font-family: 'Roboto', sans-serif;
  color: #FFC619;
  background-color: #ffffff;
  font-size: 16px;
  border: 2px solid #ffffff;
  width: 180px;
  padding: 20px 10px;
  text-align: center;
  transition: 0.7s;
}

.blockContact_img {
  position: absolute;
  top: 220px;
  left: 0px;
}

.blockk {
  width: 100%;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .bandeauReassurance {
    width: 95%;
  }

  .bandeauReassurance_block {
    flex-direction: column;
    text-align: center;
    padding-top: 12px;
  }

  .blockk {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .blockContact_block-titre {
    font-size: 20px;
  }

  .blockContact_block:last-child {
    margin-left: 70px;
  }

  .blockContact_block {
    margin-left: 110px;
  }
}

@media screen and (max-width: 767px) {
  footer {
    height: auto;
  }

  .bandeauReassurance {
    width: 100%;
    flex-direction: column;
    height: 200px;
    top: -25px;
  }

  .blockk {
    display: auto;
    align-items: auto;
    width: 100%;
  }

  .bandeauReassurance_block {
    flex-direction: column;
    text-align: center;
    margin-left: 0px;
    padding-top: 12px;
  }

  .blockContact {
    height: auto;
    width: 100%;
    flex: initial;
  }

  .blockContact_block,
  .blockContact_block-titre {
    margin-left: 0px !important;
  }

  .blockContact_block,
  .blockContact {
    display: inherit;
    width: 90%;
    margin: 0 auto;
  }

  .blockContact_img {
    display: none;
  }

  .blockContact_block:last-child {
    width: 100%;
  }

  .blockContact_block-titre {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 50px;
  }

  .blockContact_block:last-child {
    margin-top: 30px;
    padding-bottom: 30px;
  }

  .bandeauReassurance_block:last-child {
    border: 0px;
  }
}

header {
  font-family: 'Roboto', sans-serif;
  position: relative;
  width: 100%;
  height: 95px;
  padding: 0 60px;
  background: transparent;
  z-index: 1;
}

header img[alt*="logo U&D"],
header img[alt="burger"] {
  position: absolute;
  height: 36px;
  top: 50%;
  margin-top: -18px;
}

header img[alt*="white"],
img[alt="burger"],
.bt-devis.mobile {
  display: none;
}

header ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

header ul li {
  float: right;
  color: #000;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 30px;
  margin: 30px 60px 30px 0;
}

header ul li.active {
  border-bottom: 3px solid black;
}

.bt-devis {
  background: #FFC619;
  padding: 10px 25px;
  margin: 20px 0 0;
  color: #fff;
}

.bt-devis img {
  margin-bottom: -2px;
}

/* TOASTER */

.toaster {
  position: fixed;
  right: 60px;
  width: 260px;
  background-color: #fff;
  z-index: 100;
}

@media (max-width: 767px) {
  .toaster {
    display: none;
  }
}

.toaster_yellow_up {
  bottom: -1px;
  transition: .2s;
}

.arrow_rotate {
  transform: rotate(180deg);
}

.toaster_yellow_down {
  bottom: -140px;
  transition: .2s;
}

.toaster_content {
  border: #EBEBEB solid 1px;
  padding: 16px;
}

.toaster_content p {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #757575;
  line-height: 20px;
  font-weight: 100;
  margin-bottom: 15px;
}

.toaster_content input {
  padding: 0 8px;
  height: 30px;
  border-radius: 2px;
  border-top: #EAEAEA 1px solid;
  border-right: none;
  border-bottom: #EAEAEA 1px solid;
  border-left: #EAEAEA 1px solid;
  width: 85%;
  float: left;
}

.toaster_content input::placeholder {
  color: #CCC;
  font-weight: 100;
  font-size: 12px;
}

.toaster_content button {
  background-color: #FFC619;
  border: none;
  height: 30px;
  width: 15%;
  float: left;
  margin-left: -1px;
  border-radius: 0 2px 2px 0;
}

.toaster .toaster_yellow {
  background-color: #FFC619;
  padding: 15px 24px;
  cursor: pointer;
}

.toaster .toaster_yellow .phone {
  margin-right: 8px;
}

.toaster .toaster_yellow .arrow {
  width: 14px;
  margin-left: 8px;
}

.toaster .toaster_yellow span {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 15px;
}

/* MENU */

.menu,
.menu.active {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  background: #FFC619;
  z-index: 100;
  padding: 100px 10%;
  -webkit-transition: left .3s;
  -moz-transition: left .3s;
  -ms-transition: left .3s;
  -o-transition: left .3s;
  transition: left .3s;
}

.menu {
  left: -100%;
  display: none;
}

.menu img[alt="close"] {
  position: absolute;
  top: 25px;
  right: 25px;
}

.menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.menu ul a {
  text-decoration: none;
}

.menu ul li {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 10% auto;
  letter-spacing: 2px;
}

.menu ul li:hover {
  text-decoration: underline;
}

.menu ul li img {
  height: 25px;
}

@media screen and (max-width: 768px) {
  header {
    background: none;
    position: absolute;
  }

  header img[alt*="white"] {
    display: block;
    left: 50%;
    margin-left: -53px;
  }

  header img[alt*="black"],
  header ul li {
    display: none;
  }

  header img[alt="burger"] {
    display: block;
    height: 18px;
    margin-top: -9px;
  }

  .bt-devis.mobile {
    display: block;
    margin-top: 22px;
    padding: 10px 19px;
  }

  .menu {
    display: block;
  }
}

@media screen and (max-width: 560px) {
  header {
    padding: 0 20px;
  }

  header img[alt="burger"] {
    left: 35px;
  }
}

/* Import style pages */

.project-a-propos {
  position: relative;
  width: 45%;
  margin-top: 35px;
}

@media (max-width: 767px) {
  .project-a-propos {
    width: 100%;
    margin-top: 0px;
  }
}

.project-img {
  height: 810px;
  background-image: url("../images/visuels/visu_a-propos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 767px) {
  .project-img {
    height: 400px;
  }
}

.project-description {
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 298px;
  background: #FFC619;
}

.a-propos-title {
  margin-left: 0px;
  position: absolute;
  top: -280px;
  margin-top: 0px;
  margin: 0 30px;
  width: 80%;
}

@media (min-width: 768px) {
  .a-propos-title {
    margin-top: 80px;
    top: 0px;
    position: relative;
    margin-left: 0px;
    margin-bottom: 82px;
    width: 100%;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  .a-propos-title {
    position: relative;
    margin-top: 80px;
    margin-left: -141px;
    margin-bottom: 60px;
    width: 100%;
    top: 0px;
  }
}

.content-a-propos {
  position: relative;
}

.content-text {
  width: 51%;
  /* border:1px solid;*/
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 767px) {
  .content-text {
    width: 100%;
    position: relative;
  }
}

.project-title {
  color: white;
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  line-height: 38px;
  width: 80%;
}

.block-p {
  /*  width: 41%;
  float: right;
  margin: 10px 10px 10px 10px ;
  /*border: 1px solid black;*/
  /*display: inline-flex;*/
  margin: 0 70px 20px 0;
}

@media (max-width: 767px) {
  .block-p {
    margin: 70px 30px 0px 30pX;
  }
}

.wrapper-partenaire {
  margin-top: 200px;
}

.statistiques {
  display: flex;
  width: 100%;
  height: 300px;
  border-top: 1px solid #F8F8F8;
  bottom: 0;
  align-items: center;
}

@media (max-width: 767px) {
  .statistiques {
    height: 100%;
  }
}

.content-a-propos .content-text .flex-container {
  margin-bottom: 85px;
}

@media (min-width: 768px) {
  .content-a-propos .content-text .flex-container {
    margin-bottom: 5px;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  .content-a-propos .content-text .flex-container {
    margin-bottom: 85px;
  }
}

.stat-block {
  width: 100%;
  display: flex;
  margin: 40px;
}

@media (max-width: 767px) {
  .stat-block {
    margin-bottom: 5px;
  }
}

.statistiques.flex-container {
  display: flex;
}

@media (max-width: 767px) {
  .statistiques.flex-container {
    flex-wrap: wrap;
    justify-content: inherit;
  }
}

.stat-column {
  width: 100%;
  margin-bottom: 0px;
}

.pictoa {
  /* border:1px solid ;*/
  width: 35px;
  height: 35px;
  background-image: url("../images/apropos/pictoa.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 10px;
}

.pictob {
  /* border:1px solid ;*/
  width: 35px;
  height: 35px;
  background-image: url("../images/apropos/pictoc.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 10px;
}

.pictoc {
  /* border:1px solid ;*/
  width: 35px;
  height: 35px;
  background-image: url("../images/apropos/pictob.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 10px;
}

.pictod {
  /* border:1px solid ;*/
  width: 35px;
  height: 35px;
  background-image: url("../images/apropos/pictod.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 10px;
}

.stat-title {
  font-size: 11px;
  color: #BFBFBF;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  margin-bottom: 5px;
}

.stat-numbers {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #3E3E3E;
}

.stat-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
}

.paragraphe-column {
  -webkit-column-count: 1;
  /* Chrome, Safari, Opera */
  -moz-column-count: 1;
  /* Firefox */
  column-count: 1;
  -webkit-column-gap: 40px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 40px;
  /* Firefox */
  column-gap: 40px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
}

@media (min-width: 768px) {
  .paragraphe-column {
    -webkit-column-count: 1;
    /* Chrome, Safari, Opera */
    -moz-column-count: 1;
    /* Firefox */
    column-count: 1;
    -webkit-column-gap: 40px;
    /* Chrome, Safari, Opera */
    -moz-column-gap: 40px;
    /* Firefox */
    column-gap: 40px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  .paragraphe-column {
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
    -webkit-column-gap: 40px;
    /* Chrome, Safari, Opera */
    -moz-column-gap: 40px;
    /* Firefox */
    column-gap: 40px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
  }
}

#displayn {
  display: none;
}

@media (min-width: 768px) {
  #displayn {
    display: flex;
    height: 570px;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  #displayn {
    display: flex;
    height: 350px;
  }
}

#displayo {
  display: none;
}

@media (max-width: 767px) {
  #displayo {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .a-propos-title {
    color: #ffffff !important;
  }
}

.accueil-background {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.flex-container-accueil {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flex-container-accueil-left {
  display: flex;
  margin-left: 20%;
}

@media (max-width: 767px) {
  .flex-container-accueil-left {
    margin-left: 10%;
  }
}

@media (max-width: 375px) {
  .flex-container-accueil-left {
    margin-left: 5%;
  }
}

.flex-container-left-column {
  display: flex;
  flex-direction: column;
}

.flex-item-accueil {
  width: 130px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 12px 28px;
}

.accueil-title-left {
  position: relative;
}

.accueil-title {
  text-align: justify;
  max-width: 490px;
  width: 100%;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .accueil-title {
    padding-right: 5%;
  }
}

.btn-accueil {
  width: 225px;
}

.service-container {
  display: flex;
  margin: 25vh 0 30vh 0;
  align-items: flex-end;
}

@media (max-width: 767px) {
  .service-container {
    display: inherit;
    margin: 70px 0;
  }
}

.service-item-left {
  width: 50%;
}

@media (max-width: 767px) {
  .service-item-left {
    width: 100%;
  }
}

.service-item-right-ctn {
  width: 50%;
}

@media (max-width: 767px) {
  .service-item-right-ctn {
    display: inherit;
    width: 70%;
    margin-left: 30px;
  }
}

.service-paragraphe {
  width: 70%;
}

@media (max-width: 767px) {
  .service-paragraphe {
    width: 100%;
  }
}

.service-item-right-ctn {
  display: flex;
}

@media (max-width: 767px) {
  .service-item-right-ctn {
    display: inherit;
  }
}

.service-item-right-ctn-left {
  width: 50%;
}

@media (max-width: 767px) {
  .service-item-right-ctn-left {
    width: 100%;
  }
}

.service-item-right-ctn-right {
  width: 50%;
}

@media (max-width: 767px) {
  .service-item-right-ctn-right {
    width: 100%;
  }
}

.service-item-logo {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.service-item {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

@media (max-width: 767px) {
  .service-item {
    align-items: center;
    justify-content: flex-start;
  }
}

.service-item-left-margin {
  margin-left: 0;
}

@media (max-width: 767px) {
  .service-item-left-margin {
    margin: 0 30px;
  }
}

.serv-item-logo-1 {
  background-image: url("../images/picto-fondation.svg");
}

.serv-item-logo-2 {
  background-image: url("../images/picto-sol.svg");
}

.serv-item-logo-3 {
  background-image: url("../images/picto-charpente.svg");
}

.serv-item-logo-4 {
  background-image: url("../images/picto-terrasse.svg");
}

.serv-item-logo-5 {
  background-image: url("../images/picto-excavation.svg");
}

.serv-item-logo-6 {
  background-image: url("../images/picto-isolation.svg");
}

.service-item-paragraphe {
  margin-left: 8%;
}

.service-title {
  margin-bottom: 25px;
}

@media screen and (max-width: 767px) {
  #title_accueil {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    line-height: 32px;
  }

  .flex-container-accueil-left {
    display: inherit;
    width: 90%;
  }

  .left-line2-container {
    width: auto !important;
  }
}

.services {
  position: relative;
  width: 100%;
  left: inherit;
  margin-left: 0px;
}

@media (min-width: 768px) {
  .services {
    position: relative;
    width: 760px;
    left: 50%;
    margin-left: -380px;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  .services {
    position: relative;
    width: 1000px;
    left: 50%;
    margin-left: -500px;
  }
}

/** REFS **/

.ref {
  width: 100%;
  height: 650px;
  display: flex;
  align-content: center;
}

@media (max-width: 767px) {
  .ref {
    flex-wrap: wrap;
    height: 100%;
  }
}

.refBlock-1 {
  width: 25%;
  background-color: #000000;
}

@media (max-width: 767px) {
  .refBlock-1 {
    width: 50%;
    align-self: flex-end;
    order: 1;
  }
}

.refBlock-2 {
  width: 50%;
  background-color: #000000;
}

@media (max-width: 767px) {
  .refBlock-2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

.refBlock-3 {
  width: 25%;
  background-color: #000000;
}

@media (max-width: 767px) {
  .refBlock-3 {
    height: 50%;
    width: 50%;
  }
}

.res {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
  transition: 0.3s ease-in-out;
}

.res:hover {
  opacity: 0.5;
}

.res1 {
  background-image: url("http://localhost:8888/webp2018-SI201704-UD/wp-content/themes/UD_theme/images/accueil/res1.jpg");
  height: 650px;
}

@media (max-width: 767px) {
  .res1 {
    height: 300px;
  }
}

.res2 {
  background-image: url("http://localhost:8888/webp2018-SI201704-UD/wp-content/themes/UD_theme/images/accueil/res2.jpg");
  height: 325px;
  width: 50%;
  float: left;
}

@media (max-width: 767px) {
  .res2 {
    height: 300px;
    width: 50%;
  }
}

.res3 {
  background-image: url("http://localhost:8888/webp2018-SI201704-UD/wp-content/themes/UD_theme/images/accueil/res3.jpg");
  height: 325px;
  width: 50%;
  float: left;
}

@media (max-width: 767px) {
  .res3 {
    height: 300px;
    width: 50%;
  }
}

.res4 {
  background-image: url("http://localhost:8888/webp2018-SI201704-UD/wp-content/themes/UD_theme/images/accueil/res4.jpg");
  height: 325px;
  width: 50%;
  float: left;
  clear: both;
}

@media (max-width: 767px) {
  .res4 {
    height: 300px;
    width: 50%;
  }
}

.res5 {
  background-image: url("http://localhost:8888/webp2018-SI201704-UD/wp-content/themes/UD_theme/images/accueil/res5.jpg");
  height: 325px;
  width: 50%;
  float: left;
}

@media (max-width: 767px) {
  .res5 {
    height: 300px;
    width: 50%;
  }
}

.res6 {
  background-image: url("http://localhost:8888/webp2018-SI201704-UD/wp-content/themes/UD_theme/images/accueil/res6.jpg");
  height: 650px;
}

@media (max-width: 767px) {
  .res6 {
    height: 300px;
  }
}

.resTxt {
  visibility: hidden;
  color: #fff;
  position: relative;
  display: flex;
  z-index: 2;
}

.res:hover .resTxt {
  visibility: visible;
}

.devis-img {
  height: 320px;
  background-image: url("../images/visuels/contact_img.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.block-deco-grey.block-deco-grey-contact {
  height: 480px;
}

.project-a-propos-contact {
  height: inherit;
  margin-top: 0;
}

.devis {
  margin-top: 260px;
}

.devis .steps {
  margin: 100px auto 60px auto;
  display: block;
  width: 740px;
}

.devis .step {
  float: left;
  margin-left: 0;
}

.devis .step span {
  font-family: 'Open Sans';
  font-size: 12px;
  color: #0B0B0B;
  width: 170px;
  text-align: center;
  display: inline-block;
  margin-top: 30px;
  margin-left: 9px;
}

.devis .step hr {
  border-color: #C8C8C8;
  border-top: none;
  width: 180px;
  position: absolute;
  left: 0;
  top: 2px;
}

.devis .polygons {
  position: absolute;
  left: 0;
}

.devis .step .line {
  position: relative;
  margin: 0;
}

.devis .step_active span {
  color: #FFC619;
}

.devis .step_active hr {
  border-color: #FFC619;
}

.devis .polygon_last {
  position: absolute;
  right: -20px;
}

.devis .clear {
  clear: both;
}

.devis .formulaire_content .titles {
  font-family: "Open Sans";
  font-size: 22px;
  text-align: center;
  margin-bottom: 40px;
}

.devis .btn_form.default {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 16px;
  color: #C8C8C8;
  border: #C8C8C8 1px solid;
  width: 190px;
  height: 115px;
  float: left;
  margin: 16px;
  cursor: pointer;
}

.devis .btn_form:hover {
  border: #FFC619 3px solid;
  -webkit-transition: background .5s;
  /* Safari */
  transition: background .5s;
}

.btn_form_active {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 16px;
  color: #C8C8C8;
  border: #FFC619 3px solid;
  width: 190px;
  height: 115px;
  float: left;
  margin: 16px;
  cursor: pointer;
}

.devis .btn_form:hover .btn_form_span {
  -webkit-transition: color .5s;
  /* Safari */
  transition: color .5s;
}

.devis .btn_form img {
  margin: 32px auto 15px auto;
  display: block;
}

.devis .btn_form span {
  text-align: center;
  display: block;
}

.devis .btns,
.inputs {
  display: table;
  margin: 0 auto;
}

.devis .formulaire_content button {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 16px;
  color: #FFC61A;
  border: #FFC61A 2px solid;
  padding: 20px 60px;
  background-color: #ffffff;
  display: block;
  margin: 50px auto 0 auto;
}

.devis .formulaire_02 .btns {
  width: 672px;
  margin: 0 auto;
}

.devis .formulaire_03 textarea {
  width: 640px;
  height: 255px;
  margin: 0 auto;
  display: block;
  border-color: #E5E5E5;
  background-color: #FBFBFB;
}

.devis .formulaire_03 textarea::-webkit-input-placeholder,
.devis .formulaire_04 input::-webkit-input-placeholder {
  color: #848484;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 100;
  line-height: 20px;
}

.devis .formulaire_03 textarea::-webkit-input-placeholder {
  padding: 15px 0 0 15px;
}

.devis .formulaire_04 input::-webkit-input-placeholder {
  padding-left: 10px;
}

.devis .formulaire_04 input {
  width: 286px;
  height: 47px;
  margin: 16px;
  display: block;
  border: none;
  background-color: #FBFBFB;
  float: left;
}

.devis .inputs {
  width: 640px;
}

.devis .title_formulaire {
  display: none;
}

/*RESPONSIVE*/

@media screen and (min-width: 350px) and (max-width: 767px) {
  .devis .step_02,
  .devis .step_03,
  .devis .step_04,
  .devis .step_01 {
    display: none;
  }

  .devis .title_formulaire {
    display: block;
  }

  .devis .title_formulaire span {
    display: block;
    font-family: 'Open Sans';
    font-size: 20px;
    color: #FFC619;
    text-align: center;
  }

  .devis .steps,
  .devis .formulaire_02 .btns,
  .devis .inputs {
    width: inherit;
  }

  .devis .btn_form {
    width: 130px;
    margin: 8px;
  }

  .devis .formulaire_01 .btn_form,
  .devis .formulaire_02 .btn_form {
    width: 80%;
    margin-left: 10%;
  }

  .devis .polygons {
    margin: 0 auto;
    display: block;
    position: relative;
    width: 20px;
    margin-bottom: 20px;
  }

  .devis .step {
    float: inherit;
  }

  .devis .step span {
    font-size: 18px;
    margin-left: 0px;
    width: 100%;
  }

  .devis .formulaire_03 textarea,
  .devis .formulaire_04 input {
    width: 80%;
    margin: 16px 0 16px 10%;
  }
}

/**** ML ****/

.ml {
  width: 100%;
  max-width: 1440px;
  display: flex;
}

.ml h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 37px;
  line-height: 50px;
  color: #3E3E3E;
  margin-bottom: 80px;
}

.ml h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 20px;
  line-height: 50px;
  color: #FFC619;
}

.ml p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 27px;
}

.ml_blockBG {
  width: 35%;
}

.ml_blockTXT {
  background-color: #ffffff;
  width: 60%;
  height: auto;
  margin-left: 30px;
}

@media screen and (max-width: 767px) {
  .ml_blockBG {
    background-color: #F0F0F0;
    width: 10%;
  }

  .ml_blockTXT {
    background-color: #ffffff;
    width: 85%;
    height: auto;
    margin-left: 10px;
  }

  .ml_blockBG img {
    display: none;
  }
}

.slider-img {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.slider-img-1 {
  background-image: url("../images/slider-1.jpg");
}

.slider-img-2 {
  background-image: url("../images/slider-2.jpg");
}

section.block {
  width: 75%;
  float: right;
}

@media (max-width: 767px) {
  section.block {
    width: 100%;
  }
}

.blockSlide {
  position: relative;
  clear: both;
}

.paragraphe-column ul li {
  color: #FFC61A;
  font-weight: 700;
}

.paragraphe-column ul li::before {
  content: "________ ";
  color: #7D7D7D;
  margin-right: 10px;
  margin-top: -3px;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?d1gv6x");
  src: url("fonts/icomoon.eot?d1gv6x#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?d1gv6x") format("truetype"), url("fonts/icomoon.woff?d1gv6x") format("woff"), url("fonts/icomoon.svg?d1gv6x#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}

* {
  box-sizing: border-box;
}

.clear {
  clear: both;
}

strong {
  color: #FFC619;
}

.text-title {
  color: #3E3E3E;
}

.text-main {
  color: #000000;
}

.text-secondary {
  color: #BFBFBF;
}

.text-white {
  color: #FFFFFF;
}

.paragraphe {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
}

.small-title {
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  line-height: 40px;
}

@media (max-width: 767px) {
  .title {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    line-height: 32px;
  }
}

/* Type de blocks */

.centered-block {
  margin: 0 60px;
  /*border:1px solid;*/
  height: auto;
}

@media (max-width: 767px) {
  .centered-block {
    margin: 0;
  }
}

.block-deco-grey {
  background: #F0F0F0;
  position: absolute;
  width: 40%;
  height: 984px;
  top: 0;
}

@media (max-width: 767px) {
  .block-deco-grey {
    display: none;
  }
}

.partenaire-paragraphe {
  margin: 0 auto;
  margin-bottom: 70px;
  text-align: center;
  width: 50vw;
}

@media (max-width: 767px) {
  .partenaire-paragraphe {
    width: 85%;
    text-align: left;
    margin-bottom: 20px;
  }
}

.title-partenaire {
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.wrapper-partenaire .flex-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  .wrapper-partenaire .flex-container {
    flex-wrap: wrap;
  }
}

.wrapper-partenaire {
  margin: 20vh 0 25vh 0;
}

@media (max-width: 767px) {
  .wrapper-partenaire {
    margin: 15vh 0 20vh 0;
  }
}

.flex-item {
  width: 130px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 12px 28px;
}

@media (max-width: 767px) {
  .flex-item {
    width: 35%;
  }
}

.text-center {
  text-align: center;
}

.partenaire-1 {
  background-image: url("../images/partenaires/logo-lapeyre.png");
}

.partenaire-2 {
  background-image: url("../images/partenaires/logo-legrand.png");
}

.partenaire-3 {
  background-image: url("../images/partenaires/logo-leroymerlin.png");
}

.partenaire-4 {
  background-image: url("../images/partenaires/logo-lapeyre.png");
}

.partenaire-5 {
  background-image: url("../images/partenaires/logo-point-p.png");
}

.partenaire-6 {
  background-image: url("../images/partenaires/logo-ariston.png");
}

.partenaire-7 {
  background-image: url("../images/partenaires/logo-rexel.png");
}

.partenaire-8 {
  background-image: url("../images/partenaires/logo-point-p.png");
}

.left-line2-container {
  width: 20vw;
}

.line2 {
  margin-right: 25px;
  height: 50px;
  background-image: url("../images/line2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.separator-bottom-30 {
  margin-bottom: 30px;
}

.btn-cta {
  text-decoration: none;
  border: 2px solid white;
  background: none;
  padding: 20px;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  transition: 0.7s;
}

.btn-cta:hover {
  color: #FFC619;
  background: white;
  transition: 0.7s;
}

.err-404 p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 37px;
  line-height: 50px;
}

.hero-line {
  position: absolute;
  width: 15%;
  left: 0;
}

@media (max-width: 767px) {
  .hero-line {
    display: none;
  }
}

.hero-line.services {
  width: 45%;
  margin-top: 11px;
}

.hero-line.partners {
  width: 20%;
  margin-top: 12px;
}

.hero-line.footer-contact {
  width: 10%;
  margin-top: 18px;
}

.hero-line.a-propos-txt {
  width: 112%;
  left: -100vh;
  margin-top: 7px;
}

.hero-line.devis {
  width: 119%;
  left: -150vh;
  margin-top: 7px;
}

.hero-line.mentions {
  width: 32%;
  margin-top: 17px;
}

.hero-line.sf {
  width: 20%;
  margin-top: 7px;
}

.hero-line hr {
  border-color: #C8C8C8;
  border-top: none;
}

.hero-line img {
  position: absolute;
  right: -16px;
  bottom: -2px;
}