@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.text-important {
  color: #FFCB0D;
}

.text-title {
  color: #3E3E3E;
}

.text-main {
  color: #000000;
}

.text-secondary {
  color: #BFBFBF;
}

.paragraphe {
  font-family: "Open Sans", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 27px;
}

.partenaire-paragraphe {
  margin: 0 auto;
  margin-bottom: 70px;
  text-align: center;
  width: 50vw;
}

.title {
  font-family: "Roboto", sans-serif;
  color: #3E3E3E;
  font-size: 37px;
  line-height: 48px;
}

.title-partenaire {
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-item {
  width: 130px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 12px 28px;
}

.text-center {
  text-align: center;
}

.partenaire-1 {
  background-image: url("../images/partenaires/logo-lapeyre.png");
}

.partenaire-2 {
  background-image: url("../images/partenaires/logo-legrand.png");
}

.partenaire-3 {
  background-image: url("../images/partenaires/logo-leroymerlin.png");
}

.partenaire-4 {
  background-image: url("../images/partenaires/logo-lapeyre.png");
}

.partenaire-5 {
  background-image: url("../images/partenaires/logo-point-p.png");
}

.partenaire-6 {
  background-image: url("../images/partenaires/logo-ariston.png");
}

.partenaire-7 {
  background-image: url("../images/partenaires/logo-rexel.png");
}

.partenaire-8 {
  background-image: url("../images/partenaires/logo-point-p.png");
}